@use '../../../styles/variables' as variables;

.navigation {
  width: 100%;
  display: grid;
  grid-template-columns: 0.5fr 1fr 0.5fr;
  background-color: variables.$tertiary-color;
}

.navigation__list {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  list-style-type: none;
}

.navigation__listItem {
  text-align: center;
}

.navigation__link {
  color: #18272f;
  position: relative;
  text-decoration: none;
}

.navigation__link::before {
  content: '';
  position: absolute;
  width: 50%;
  height: 4px;
  border-radius: 4px;
  background-color: #00adb5;
  bottom: 0;
  left: -25%;
  transform-origin: right;
  transform: scaleX(0);
  transition: transform 0.3s ease-in-out;
}

.navigation__link::after {
  content: '';
  position: absolute;
  width: 50%;
  height: 4px;
  border-radius: 4px;
  background-color: #00adb5;
  top: 0;
  left: -25%;
  transform-origin: left;
  transform: scaleX(0);
  transition: transform 0.3s ease-in-out;
}

.navigation__link:hover::after {
  transform-origin: right;
  transform: scaleX(1);
}

.navigation__link:hover::before {
  transform-origin: left;
  transform: scaleX(1);
}
